/*
 * Copyright 2000-2009 Project.net Inc.
 *
 * This file is part of Project.net.
 * Project.net is free software: you can redistribute it and/or modify it under the terms of 
 * the GNU General Public License as published by the Free Software Foundation, version 3 of the License.
 * 
 * Project.net is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with Project.net.
 * If not, see http://www.gnu.org/licenses/gpl-3.0.html
 */
 /* Reporting Styles */


.titleTable    {
    border-width: 0px;
    margin-top: 20px;
}
.reportTitle   {
    font-size: 20px;
    font-weight: bold;
}
.workspaceName  {
    font-family: Arial,Helvetica,Sans-Serif;
    font-size: 12px;
    font-weight: bold;
}
.reportHeader   {
    font-size: 12px;
}
.summaryTable   {
    border-width: 0px;
    margin-top: 20px;
}
.chartCell {
    margin: 2px;
}
.detailedTable   {
    border-width: 0px;
    margin-top: 20px;
}
.groupFont  {
    font-family: Arial,Helvetica,Sans-Serif;
    font-size: 12px;
    font-weight: bold;
}
