/*
 * Copyright 2000-2009 Project.net Inc.
 *
 * This file is part of Project.net.
 * Project.net is free software: you can redistribute it and/or modify it under the terms of 
 * the GNU General Public License as published by the Free Software Foundation, version 3 of the License.
 * 
 * Project.net is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with Project.net.
 * If not, see http://www.gnu.org/licenses/gpl-3.0.html
 */
 /* Color styles for resources. */

.legendTable {
    border: 2px solid #000000;
}
.legendColorCell {
    border: 1px solid #000000;
}
.legendText {
    font-family: Arial,Helvetica,Sans-Serif;
    font-size: 12px;
}
.monthTable {
    border: 2px solid #000000;
}
.monthDayOfWeekLabel {
    background-color: #CCCCCC ! important;
}
.dayText {
    font-family: Arial,Helvetica,Sans-Serif;
    font-size: 12px;
}
.none {
    border: 1px solid #CCCCCC;
    background-color:#FFFFFF;
    color:#000000;
}
.some {
    border: 1px solid #CCCCCC;
    background-color:#CCCCCC;
    color:#000000;
}
.full {
    border: 1px solid #CCCCCC;
    background-color:#000000;
    color:#FFFFFF;
}
.over {
    border: 1px solid #CCCCCC;
    background-color:#FF0033;
    color:#FFFFFF;
    font-weight: bold;
}