<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC 
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
	
		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="connection.datasource">java:comp/env/jdbc/PnetDB</property> 
<!-- 		<property> name="connection.driver_class">oracle.jdbc.OracleDriver</property> -->
<!-- 		<property name="connection.username">pnet</property> -->
<!-- 		<property name="connection.password">pnet</property>  -->
<!-- 		<property name="connection.url">jdbc:oracle:thin:@pusa:1521:10g</property> -->
<!--         <property name="show_sql">false</property>		 -->
		<mapping resource="net/project/hibernate/model/PnPersonCosts.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/ClientDatabaseVersion.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/DatabaseVersion.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/DatabaseVersionUpdate.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/HelpFeedback.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnAddress.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnAgendaItem.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnApplicationSpace.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnAssignment.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnAssignmentMaterial.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnAssignmentWork.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnAuthenticator.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnAuthenticatorType.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnBaseline.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnBaselineHasPlan.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnBaselineHasTask.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnBill.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnBookmark.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnBrand.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnBrandHasHost.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnBrandSupportsLanguage.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnBusiness.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnBusinessCategory.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnBusinessSpace.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnCalEventHasAttendee.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnCalculationFieldFormula.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnCalendar.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnCalendarEvent.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnCalendarHasEvent.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnCategory.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnCategoryHasCategory.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnCcTransactionPayment.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnClass.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnClassDomain.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnClassDomainValue.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnClassField.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnClassFieldProperty.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnClassHasWorkflow.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnClassInstance.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnClassList.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnClassListField.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnClassListFilter.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnClassType.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnClassTypeElement.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnClientType.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnCodeType.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnConfigurationSpace.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnCountryLookup.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnCreditCardTransaction.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnCustomCode.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnCustomDomain.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDateFormat.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDefaultObjectPermission.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDeliverable.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDeliveryAddress.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDirectory.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDirectoryField.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDirectoryHasPerson.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDirectoryProviderType.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDisciplineLookup.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDiscussionActionLookup.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDiscussionGroup.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDiscussionHistory.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDocActionLookup.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDocCheckoutLocation.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDocConfiguration.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDocConfigurationHasDoc.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDocContainer.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDocContainerHasObject.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDocContentElement.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDocContentRendition.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDocHandler.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDocHistory.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDocProvider.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDocProviderHasDocSpace.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDocProviderType.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDocRepositoryBase.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDocSpace.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDocSpaceHasContainer.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDocType.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDocVersion.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDocVersionHasContent.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDocument.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnDomainMigration.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnElement.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnElementDisplayClass.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnElementProperty.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnEnvelopeHasObject.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnEnvelopeHistory.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnEnvelopeHistoryAction.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnEnvelopeHistoryClob.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnEnvelopeObjectClob.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnEnvelopeVersion.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnEnvelopeVersionHasObject.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnEventHasNotification.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnEventType.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnFacility.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnFinderIngredient.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnFormsActionLookup.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnFormsHistory.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnGate.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnGlobalCode.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnGlobalDomain.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnGroup.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnGroupActionLookup.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnGroupHasGroup.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnGroupHasPerson.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnGroupHistory.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnGroupType.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnIndustryClassification.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnIndustryHasCategory.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnInvitedUser.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnInvoice.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnInvoiceLob.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnJavaErrorLog.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnJobDescriptionFeedback.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnJobDescriptionLookup.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnLanguage.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnLdapConfigurationContext.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnLdapDirectoryAttrMap.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnLdapDirectoryConfig.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnLedger.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnLicense.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnLicenseCertificate.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnLicensePersonHistory.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnLicensePurchaser.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnLicenseStatusReason.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnLoginHistory.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnMaterial.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnMaterialType.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnMeeting.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnMethodologyInIndustry.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnMethodologySpace.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnModule.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnModuleHasObjectType.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnModulePermission.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnNews.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnNewsActionLookup.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnNewsHistory.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnNextDocRepository.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnNotification.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnNotificationClob.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnNotificationDeliveryType.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnNotificationLog.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnNotificationObjectType.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnNotificationQueue.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnNotificationSchedStatus.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnNotificationType.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnObject.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnObjectHasDiscussion.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnObjectHasDocContainer.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnObjectHasSubscription.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnObjectInCategory.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnObjectLink.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnObjectName.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnObjectPermission.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnObjectSpace.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnObjectType.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnObjectTypeSubscription.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnObjectTypeSupportsAction.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPagePermission.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPaymentInformation.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPaymentModel.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPaymentModelCharge.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPaymentModelCreditcard.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPaymentModelType.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPerson.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPersonView.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPersonAllocation.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPersonAuthenticator.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPersonHasAlternateEmail.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPersonHasDiscipline.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPersonHasLicense.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPersonHasProfCert.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPersonHasSkill.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPersonHasStateReg.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPersonHasVote.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPersonNotificationAddress.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPersonNotificationPref.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPersonPicksSpam.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPersonProfile.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPersonProperty.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPersonSkillComment.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPersonSurvey.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPersonUsedSkill.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPhase.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPhaseHasDeliverable.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPhaseHasTask.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPivot.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPlan.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPlanHasTask.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPlanVersion.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPortfolio.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPortfolioHasConfiguration.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPortfolioHasSpace.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPost.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPostActionLookup.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPostBodyClob.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPostHistory.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPostReader.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnProcess.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnProfCertLookup.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnProjectSpace.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPropCategoryHasProperty.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnProperty.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPropertyCategory.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPropertyChange.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPropertySheet.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnPropertySheetType.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnReportSequence.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnScheduleNtwkIdToCheck.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnScheduleNtwkIdToReturn.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnScheduledSubscription.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSecurityAction.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnShareable.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnShareablePermission.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnShared.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSkill.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSkillCategory.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSkillHasSubskill.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpErrorCode.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpErrorLog.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceAccessHistory.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasCalendar.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasClass.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasClassList.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasDirectory.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasDirectoryField.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasDocProvider.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasDocSpace.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasFeaturedMenuitem.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasGroup.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasMaterial.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasMethodology.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasModule.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasNew.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasPerson.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasPlan.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasPortfolio.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasProcess.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasPropertySheet.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasSkill.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasSkillCategory.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasSpace.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasSubscription.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasWeather.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceHasWorkflow.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceTypeHasReportType.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpaceViewContext.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSpamLookup.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnStateLookup.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSubHasNotifyType.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSubscription.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSubscriptionHasGroup.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSubscriptionRecurrence.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSubscriptionType.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSystemConfig.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnSystemSetting.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnTask.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnTaskActionLookup.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnTaskBaseline.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnTaskComment.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnTaskCycleDependency.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnTaskCycleWork.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnTaskDependency.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnTaskDependencyVersion.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnTaskHistory.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnTaskVersion.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnTimeFormat.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnTimezoneLookup.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnTmpDocPathInfo.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnTmpDocument.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnTmpHeartbeatMetric.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnUser.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnUserDefaultCredential.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnUserDomain.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnUserDomainMigration.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnUserDomainSupportsConfig.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnUserHasMasterBusiness.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnView.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnViewDefaultSetting.hbm.xml"/>
		<mapping resource="net/project/hibernate/model/PnVote.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnVoteQuestionair.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnVoteResponse.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnWfRuleAuth.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnWfRuleAuthHasGroup.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnWorkflow.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnWorkflowEnvelope.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnWorkflowHasObjectType.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnWorkflowRule.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnWorkflowRuleStatus.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnWorkflowRuleType.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnWorkflowStatus.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnWorkflowStep.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnWorkflowStepCopy.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnWorkflowStepHasGroup.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnWorkflowStrictness.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnWorkflowTransition.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnWorkingtimeCalendar.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnWorkingtimeCalendarEntry.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnZipcodeFeedLookup.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/ProductVersion.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/QrtzBlobTrigger.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/QrtzCalendar.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/QrtzCronTrigger.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/QrtzFiredTrigger.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/QrtzJobDetail.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/QrtzJobListener.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/QrtzLock.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/QrtzPausedTriggerGrp.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/QrtzSchedulerState.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/QrtzSimpleTrigger.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/QrtzTrigger.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/QrtzTriggerListener.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/StatusMessage.hbm.xml"/>

	<mapping resource="net/project/hibernate/model/PnProjectSpaceMetaProp.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnProjectSpaceMetaCombo.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnProjectSpaceMetaValue.hbm.xml"/>
    <mapping resource="net/project/hibernate/model/PnTimesheet.hbm.xml"/>
    <!-- Blog related file mappings -->
	<mapping resource="net/project/hibernate/model/PnWeblog.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnWeblogEntry.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnWeblogComment.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnWeblogEntryAttribute.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnTimelog.hbm.xml"/>
	<!-- Wiki related file mappings -->
	<mapping resource="net/project/hibernate/model/PnWikiPage.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnWikiHistory.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnWikiAttachment.hbm.xml"/>
	<mapping resource="net/project/hibernate/model/PnDocContainerListView.hbm.xml"/>
	<!-- Activity Log related file mappings -->
	<mapping resource="net/project/hibernate/model/PnActivityLog.hbm.xml" />
	<mapping resource="net/project/hibernate/model/PnActivityLogMarked.hbm.xml" />		
	</session-factory>
</hibernate-configuration>
