div.tap5c_tab-set {
	top: 250px;
	bottom: 10px;
	width: 80%;
}

div.tap5c_tab-set-content {
	clear: left;
	border: 1px solid #B0C1F9;
	padding: 0px;
	width: 100%;
}

div.tap5c_slidingPanelContent {
	background: #DFE8F6;
	border-bottom: 1px solid #B0C1F9;
	border-top: 1px solid #B0C1F9;
	padding-bottom: 5px;
	padding-left: 5px;
	text-align: left;
	float: left;
	width: 100%;
	overflow: auto;
}

#slidingpanel-toolbar { 
	float: left;
	background: #CCD8FE;
	overflow: hidden;
	width: 100%;
}

.right-tabs-bg {
	float: left;
	background: #CCD8FE;
	height: 24px;
}

.project-header-div {
	z-index: 10;
	position: absolute;
	overflow: hidden;
}

.projectHeaderTd {
	color: #737373;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #D0D0D0;
	background: #F9F9F9 url(../images/default/grid/grid3-hrow.gif) repeat-x scroll 0 bottom;
	line-height: 14px;
	vertical-align: middle;
	vertical-align: middle;
	text-align: left;
	overflow: hidden;
}

.projectHeaderSortStyle {
	border-left: 1px solid #AACCF6;
	border-right: 1px solid #AACCF6;
}

.projectHeaderTdOver {
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #D0D0D0;
	background: #F9F9F9 url(../images/default/grid/grid3-hrow-over.gif) repeat-x scroll 0 bottom;
	line-height: 14px;
	vertical-align: middle;
	text-align: left;
}

.left-tab-content {
	height: 450px;
	overflow: auto;
}

.two-pane-tabs {
	float: left;
	width: 100%;
}

.right-pane-closed {
	border: 1px solid #B0C1F9;
	background:  #EEF4FE;
	border-bottom: none;
	border-right: none;
}

.two-pane-mini-tab-content {
	overflow: auto;
	text-align: left;
	margin-right: 0.5px;
}

.task-create-margin-top {
	margin-top: 8px;
}

.active-right-tab {
	background: #EDF1FF;
	color: black;
}

.deactive-right-tab {
	background: #DBE2FB;
	color: #6776A6;
}

#projectListTable {
	border-collapse: collapse;
	table-layout: fixed;
}

#projectListTable-header {
	border-collapse: collapse;
	table-layout: fixed;
}

#blog-div{
	position: absolute;
	display: block;
	top: 54px;
	left: 892px;
	height: 475px;
	padding: 0;
	width: 225px;
}

.right-pane-closed {
	border: 1px solid #B0C1F9;
	background:  #EEF4FE;
	border-bottom: none;
	border-right: none;
}

.splitter-bar {
	cursor: e-resize;
	position: absolute;
	background-color: #EEF4FE;
	padding: 0;
	width: 4px;
	border: 1px solid;
	border-color: #B0C1F9;
	z-index: 10;
}

.myprojectListTabletd {
	border-bottom: 1px solid #EDEDED;
	border-color: #FFFFFF #EDEDED #EDEDED;
	height: 15px;
}

.tableHeader th{
	overflow: hidden;
}

.wlink {
	color: #3399FF;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-decoration: none;
	font-size: 11px;
	cursor: pointer;
}

.progress-bar-container {
	background-color: #F6F6F6;
	border: 1px solid #D7D7D7;
	margin: 2px;
	height: 15px;
	font-size: 11px;
	overflow: hidden;
}

.progress-line {
	background-color: #64D23F;
	margin: 1px;
	text-align: center;
	height: 12px;
}

.blogDivTop, .wikiDivTop {
	background-color: #DFE8F6;
	border-bottom: 1px solid #B0C1F9;
	border-right: 1px solid #B0C1F9;
	color: #999999;
	padding: 5px 0 5px 15px;
}

#projectportfoliomaindiv{
	left: 197px;
	position: absolute;
	top: 110px;
}

.dropIndicator-portfolio {
	position: absolute;
	z-index: 200;
	left: -197;
	visibility: hidden;
	background: none;
}

th.resize-handle-active {
	cursor: e-resize;
}

div.resize-handle {
	cursor: e-resize;
	width: 2px;
	border-right: 1px dashed #1E90FF;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

#projectListTable-header th {
	color: #737373;
	font-family: arial,tahoma,helvetica,sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-left: 1px;
	padding-right: 9px;
}

#projectListTable th {
	border-bottom: 1px solid #EDEDED;
	font-family: arial,tahoma,helvetica,sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding-left: 1px;
	padding-right: 9px;
	align: left;
	height: 22px; 
}

#projectListTable td {
	padding-left: 4px;
	border-bottom: 1px solid #EDEDED;
	border-color: #FFFFFF #EDEDED #EDEDED;
	height: 22px;
	overflow: hidden;
	white-space: nowrap;
}

.projectLink {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	text-decoration: none;
	cursor: pointer;
}

.category-heading {
	font-family: Arial, Helvetica;
	font-size: 12px;
	font-weight: bold;
}

.customizeWPColumns {
	font-family: arial,helvetica;
	font-size: 12px;
	color: #1264A7;
	font-weight: bold;
}

.pp-saveview-column-div {
	overflow: auto;
	height: 130px;
	vertical-align: top; 
	border-left: 3px solid #CCD8FE;
	border-right: 3px solid #CCD8FE;
	border-bottom: 1px solid #CCD8FE;
}

.pp-column-bottom {
	background-color: #F9F9F9;
	padding: 3px;
	border-left: 3px solid #CCD8FE;
	border-right: 3px solid #CCD8FE;
	border-bottom: 3px solid #CCD8FE;
}

.general-completion-column {
	border-right: 1px solid #F0F0F0;
	padding-left: 15px;
	padding-right: 15px;
	vertical-align: top;
	width: 14%;
	left: 2px;
}

.status-financial-column {
	border-right: 1px solid #F0F0F0;
	padding-left: 15px;
	padding-right: 15px;
	vertical-align: top;
	width: 20%;
}

.pp-saveview-innertd {
	border-right: 1px solid #F0F0F0;
	padding-left: 20px;
	vertical-align: top;
}

.pp-saveview-inactive-lable {
	color: #909090;
	font-family: Arial,Helvetica;
	font-size: 12px;
	font-weight: bold;
	vertical-align: top; 
}

.top_m {
	height: 26px;
}

#spacer, #column_settings_link {
	padding-left: 20px;
}

div.tap5c_slidingPanelSubject {
	-moz-user-select: none;
	background: #CCD8FE;
	font-weight: bold;
	text-align: left;
}

.enabled {
	cursor: hand;
}

.cp-sorter-dd-list {
	width: 150px; 
}

.cp-sorter {
	padding-left: 13px;
	vertical-align: top;
	width: 65%;
}

.invisible {
	display: none;
}

.disableSelection {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
}