/*
 * Copyright 2000-2009 Project.net Inc.
 *
 * This file is part of Project.net.
 * Project.net is free software: you can redistribute it and/or modify it under the terms of 
 * the GNU General Public License as published by the Free Software Foundation, version 3 of the License.
 * 
 * Project.net is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with Project.net.
 * If not, see http://www.gnu.org/licenses/gpl-3.0.html
 */
 /* MAIN */

body.main			{background-color: #FFFFFF;
					}
body.mainNoBGC		{
					}
a					{
					}
.instructions		{background-color: #FFFFFF;
					 color: #333399;
					}
a.channelNoUnderline	{
					}
.channelHeader		{background-color: #dfe0e5;
					 color: #000000;
					}
.channelHeaderDarker	{	background-color: #333399;
					 color: #FFFFFF;
					 font-weight: bold;
					}
.channelContent		{background-color: #FFFFFF;
					 color: #000000;
					}
.white				{
					}
.calendar			{color: #000000;
					}
.calToday			{color: #FF0000;
					 background-color: #ffffcc;
					 border: 1px solid #dfe0e5;
					}
.pageTitle			{color: #333399;
					}
.label				{color: #333399;
					}
.actionBar			{color: #000000;
					 background-image: url('../images/application/actionbar-background.gif');
					 background-repeat: repeat-x;
					}
.actionContentReq	{color: #000000;
					}
.actionContentNotReq	{color: #999999;
					}
.rowSep             {background-color: #dfe0e5;
                     padding: 0px;
                     height: 1px;
                     border-collapse: collapse;
                    }
.headerSep          {background-color: #dfe0e5;
                     padding: 0px;
                     height: 2px;
                     border-collapse: collapse;
                    }
.rowHighlight       {background-color: #dfe0e5;
                    }

/* BANNER */
/*body.banner			{background-image: url('../images/common/topnav-banner-bg.gif');
					 background-repeat: no-repeat;
					}*/
.bannerLink1		{color: #000000;
					}
.bannerLink2		{color: #FFFFFF;
					}
.userId				{color: #FFFFFF;
					}

/* LEFT NAV */

div#leftframe		{/*background-image: url('../images/personal/background-leftnav.gif');*/
					 background-repeat: repeat-y;
					}
.leftNavHeader		{color: #000000;
					}
.leftNavLink		{color: #000000;
					}
.vertLine			{
					}
.vertNoLine			{
					}

/* LEGACY */

.tableHeader		{background-color: #FFFFFF;
					 color: #333399;
					}
.tableLine			{
	background-color: transparent;
}
.tableContent		{background-color: #FFFFFF;
					 color: #000000;
					}
.tableContentHighlight	{background-color: #FFEAAA;
					 	 color: #000000;
 					}
.tableContentNoBGC		{color: #000000;}
.tableContentFontOnly	{
					}

/* FORMS */

.fieldRequired		{color: #000000;
					}
.fieldNonRequired	{color: #666666;
					}
.fieldWithError		{color: #FF0000;
					}
.errorMessage       {color: #FF0000;
                    }                    
.successMessage     {color: #FF0000;  
                    }					                    